<h2>Create a Monster</h2>

<form class="form signup-form">

  <div class="form-group">
    <label for="monster_name">Monster Name:</label>
    <input class="form-input space-bottom" type="text" id="monster-name" />
  </div>

  <div class="form-group">
    <label for="monster_description">Description:</label>
    <input class="form-input space-bottom" type="text" id="monster-description" />
  </div>

  <div class="form-group">
    <label for="monster_ac">AC:</label>
    <input class="form-input space-bottom" type="number" id="monster-ac" />
  </div>

    <div class="form-group">
    <label for="monster_hd">HD:</label>
    <input class="form-input space-bottom" type="text" id="monster-hd" />
  </div>

    <div class="form-group">
    <label for="monster_hp">HP:</label>
    <input class="form-input space-bottom" type="number" id="monster-hp" />
  </div>

    <div class="form-group">
    <label for="monster_cr">CR:</label>
    <input class="form-input space-bottom" type="number" id="monster-cr" />
  </div>

    <div class="form-group">
    <label for="monster_attack">Attack:</label>
    <input class="form-input space-bottom" type="text" id="monster-attack" />
  </div>

    <div class="form-group">
    <label for="monster_str">STR:</label>
    <input class="form-input space-bottom" type="number" id="monster-str" />
  </div>

    <div class="form-group">
    <label for="monster_dex">DEX:</label>
    <input class="form-input space-bottom" type="number" id="monster-dex" />
  </div>

    <div class="form-group">
    <label for="monster_con">CON:</label>
    <input class="form-input space-bottom" type="number" id="monster-con" />
  </div>

    <div class="form-group">
    <label for="monster_wis">WIS:</label>
    <input class="form-input space-bottom" type="number" id="monster-wis" />
  </div>

    <div class="form-group">
    <label for="monster_int">INT:</label>
    <input class="form-input space-bottom" type="number" id="monster-int" />
  </div>

    <div class="form-group">
    <label for="monster_chr">CHR:</label>
    <input class="form-input space-bottom" type="number" id="monster-chr" />
  </div>

  <div class="form-group">
    <button class="btn btn-primary" type="submit">Submit Monster</button>
  </div>
</form>

<p>Return to homepage:</p>
<a href="/">Home</a>

<script src="/js/addmonster.js"></script>