<h2>Login</h2>

<form class="form login-form">
  <div class="form-group">
    <label for="username-login">username:</label>
    <input class="form-input" type="text" id="username-login" />
  </div>
  <div class="form-group">
    <label for="password-login">password:</label>
    <input class="form-input" type="password" id="password-login" />
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">login</button>
  </div>
</form>

<p>Need to make an account?  Sign up here!</p>
<a href="/signup">SIGN UP</a>

<p>Return to homepage:</p>
<a href="/">HOME</a>

<script src="../public/js/login.js"></script>