<h2>Signup</h2>

<form class="form signup-form">
  <div class="form-group">
    <label for="username-login">username:</label>
    <input class="form-input" type="text" id="username-signup" />
  </div>
  <div class="form-group">
    <label for="password-login">password:</label>
    <input class="form-input" type="password" id="password-signup" />
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">Sign up</button>
  </div>
</form>

<script src="../public/js/signup.js"></script>